<!doctype html>
<html>
  <head>
    <script src="../../vendor/closure-library/closure/goog/base.js"></script>
    <script src="<%= test_deps_file %>"></script>
    <script src="<%= test_js_file %>"></script>
  </head>
  <body>
  </body>
</html>
